<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tk.sbarjola.pa.featherlyricsapp" >

    <uses-sdk tools:overrideLibrary="at.markushi.circlebutton" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".Firebase.FirebaseConfig"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:noHistory="true"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tk.sbarjola.pa.featherlyricsapp.MainActivity" />
        </activity>

        <activity
            android:name=".Identificacion.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".Identificacion.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName=".Identificacion.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="tk.sbarjola.pa.featherlyricsapp.Identificacion.LoginActivity" />
        </activity>

        <receiver
            android:name=".MusicReceiver.MusicBroadcastReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.music.metachanged" />
                <action android:name="com.htc.music.metachanged" />
                <action android:name="fm.last.android.metachanged" />
                <action android:name="com.sec.android.app.music.metachanged" />
                <action android:name="com.nullsoft.winamp.metachanged" />
                <action android:name="com.amazon.mp3.metachanged" />
                <action android:name="com.miui.player.metachanged" />
                <action android:name="com.rhapsody.metachanged" />
                <action android:name="com.real.IMP.metachanged" />
                <action android:name="com.maxmpz.audioplayer.metachanged" />
                <action android:name="com.sonyericsson.music.metachanged" />
                <action android:name="com.rdio.android.metachanged" />
                <action android:name="com.samsung.sec.android.MusicPlayer.metachanged" />
                <action android:name="com.andrew.apollo.metachanged" />
                <action android:name="com.spotify.mobile.android.metadatachanged" />
                <action android:name="com.spotify.music.metadatachanged" />
            </intent-filter>
        </receiver>

        <receiver android:name=".Widget.Widget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info" />
        </receiver>

        <provider
            android:name=".provider.MusicProvider"
            android:authorities="tk.sbarjola.pa.featherlyricsapp.provider"
            android:exported="false" />

    </application>

</manifest>
